# | filename: requirements.txt
# | code-line-numbers: true

# sagemaker-training
comet-ml
matplotlib
numpy
opencv-python
pillow
psutil
PyYAML
requests
scipy
thop
torch
torchvision
tqdm
shutil
# ultralytics
